[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "==3.1.1"
flask-bcrypt = "==1.0.1"
flask-cors = "==4.0.0"
flask-restful = "==0.3.10"
flask-migrate = "==4.0.7"
sqlalchemy-serializer = "==1.4.1"
flask = "==3.0.2"
python-dotenv = "==1.0.1"
openai = "==1.13.3"
plaid-python = "==19.0.0"

[dev-packages]

[requires]
python_version = "3.8"
